html {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-yellow);
  color: var(--color-font-dark);
  margin: 0;
}

h1 {
  font-family: chaparral-pro-caption, serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 24px;
  line-height: var(--font-title1-line-height);
  text-align: center;
}

h2 {
  font-family: great-vibes, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-title1-size);
  line-height: var(--font-title2-line-height);
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: var(--font-fluid-heading);
  }

  h2 {
    font-size: var(--font-fluid-subheading);
  }
}

@media screen and (min-width: 1500px) {
  h1, h2 {
    font-size: 49px;
  }
}
