@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.topBarWrapper {
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 30px;
  background-color: var(--color-orange);
  color: var(--color-font-light);
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

.address {
  margin-left: 100px;
}

.flavorOfWeek {
  margin-right: 100px;
}

@media (max-width: 1630px) {
  .hours {
    display: none;
  }
}

@media (max-width: 800px) {
  .topBarWrapper {
    justify-content: center;
  }

  .hours, .flavorOfWeek {
    display: none;
  }

  .address {
    margin: 0;
  }
}
