@import "../styles/custom-media.css";

.mainSectionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

.logoWrapper {
  padding: 50px;
}

.textOverlay {
  display: flex;
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 100px;
  justify-content: space-between;
  font-size: 1.5rem;
}

@media (max-width: 414px) {
  .logoWrapper {
    padding: 20px;
  }

  .textOverlay {
      left: 20px;
      right: 20px;
      bottom: 20px;
  }
}
