@import "../styles/custom-media.css";

.wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  max-height: 1080px;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: 100%;
  margin: 0 60px 0 60px;
}

.scrollText {
  grid-column: 1 / 2;
  display: flex;
  align-items: flex-end;
}

.logoWrapper {
  grid-column: 2 / 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estText {
  grid-column: 12 / 13;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
