@import "../styles/custom-media.css";

.mainSectionWrapper {
  display: flex;
  align-items: center;
  min-height: 950px;
  height: calc(100vh - 130px);
}

.logoWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0 20px 0;
}

.textOverlay {
  display: flex;
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 100px;
  justify-content: space-between;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .textOverlay {
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
}

@media (max-width: 800px) {
  .mainSectionWrapper {
    min-height: 438px;
    height: calc(100vh -130px);
  }

  .logoWrapper {
    margin-top: -100px;
  }
}

@media (max-width: 414px) {
  .logoWrapper {
    padding: 0 20px 0 20px;
  }

  .textOverlay {
      left: 20px;
      right: 20px;
      bottom: 20px;
  }
}
