.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: url("../assets/candybackground.png");
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container h1 {
  font-size: var(--font-fluid-heading);
}

@media (max-width: 500px) {
  .container {
    height: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    height: 320px;
  }
}