.navContainer {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: var(--color-yellow);
  z-index: 3;
}

.linksWrapper {
  margin-right: 100px;
}

.linksWrapper ul {
  padding: 0;
  margin: 0;
}

.linksWrapper ul li {
  display: inline-block;
  list-style: none;
  margin-left: 50px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: var(--color-font-dark);
  font-weight: 500;
}

.link:hover {
  color: #000;
}

.contactWrapper {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

.contactWrapper a {
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
}

.icon {
  margin-left: 20px;
}

.contactWrapper div:first-of-type {
  margin-right: 50px;
}

.mobileIconWrapper {
  display: none;
  margin: 10px 10px 0 0;
}

.mobileIcon {
  height: 50px;
  width: 50px;
}

@media (max-width: 900px) {
  .linksWrapper, .contactWrapper {
    display: none;
  }

  .mobileIconWrapper {
    display: inline;
  }

  .navContainer {
    justify-content: flex-end;
    background: none;
  }
}