.navContainer {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 40px;
  background-color: var(--color-yellow);
  z-index: 3;
}

.linksWrapper {
  margin-right: 100px;
}

.linksWrapper ul {
  padding: 0;
  margin: 0;
}

.linksWrapper ul li {
  display: inline-block;
  list-style: none;
  margin-left: 50px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: var(--color-font-dark);
  font-weight: 500;
}

.link:hover {
  color: #000;
}

.contactWrapper {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

.contactWrapper a {
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
}

.icon {
  margin-left: 20px;
}

.contactWrapper div:first-of-type {
  margin-right: 50px;
}

.mobileIconWrapper {
  display: none;
  margin: 10px 10px 0 0;
}

.mobileIconWrapper button {
  cursor: pointer;
  background: none;
  border: none;
}

.mobileIcon {
  height: 50px;
  width: 50px;
}

.menuNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background-color: rgba(249, 219, 121, 0.95);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: var(--color-black);
  margin-top: 70px;
  padding: 20px;
  margin-right: -40px;
  top: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 110px);
  width: 0;
  overflow: hidden;
  z-index: 9;
  transition: width 0.5s;
  text-align: right;

}

.showMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: rgba(249, 219, 121, 0.95);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: var(--color-black);
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  margin-top: 70px;
  padding: 20px;
  margin-right: -40px;
  padding-right: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 110px);
  overflow: hidden;
  z-index: 9;
  transition: width 0.5s;
  text-align: right;
}

.mobileNavLink {
  display: block;
  padding: 15px 40px;
  text-decoration: none;
  color: var(--color-black);
  text-transform: uppercase;
  font-size: calc(40px + 90 * ((100vw - 320px) / 900));
  line-height: calc(40px + 90 * ((100vw - 320px) / 900));
  font-weight: 700;
}

@media (max-width: 900px) {
  .linksWrapper, .contactWrapper {
    display: none;
  }

  .mobileIconWrapper {
    display: inline;
  }

  .navContainer {
    justify-content: flex-end;
    background: none;
  }
}