@import '../styles/custom-media.css';

.container {
  display: flex;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.content h1, h2 {
  margin: 10px;
}

.image {
  display: flex;
  flex: 1;
}

.textContainer {
  width: 50%;
  text-align: center;
}
