.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: var(--color-blue);
  padding: 50px 0;
}

.content {
  margin: 0 100px 0 100px;
}

.contentHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentHeading h1,
h2 {
  margin: 10px;
}

.carouselWrapper {
  width: 100vw;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
}

.wrapper a {
  border: 2px solid var(--color-black);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  color: var(--color-font-dark);
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper a:hover {
  background-color: var(--color-black);
  color: var(--color-blue);
  transition: 1s;
}

@media (max-width: 500px) {
  .contentHeading img {
    width: 100px;
  }
}